*.ipynb
__pycache__/
.ipynb_checkpoints/
.env
*.log
*.pkl
envv/
.locks/
*.lock
output_nodes/
output_trees/
models--meta-llama--Meta-Llama-3.1-8B-Instruct/
multi-step/
guide_sampling/
node_stats/
MATH/
commonsenseQA/
gsm8k/
math/
strategyQA/
data/
Images/